.acsess {
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  align-items: center;    /* 横方向の中央揃え */
  text-align: center;
  padding-top: 20px; /* 上部に空白を追加 */
}

.acsess h2 {
  font-size: 2rem;
}
